@font-face {
    font-family: 'MyFont';
    src: url('../fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype'),
         url('../fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'MyFont', sans-serif;
    /* background-color:#023047;  */
}
.text-333
{
    color: #ffffff;
}
.top-92
{
    top: 92% !important;
}

.start-12 {
    left: 12% !important;
  }
.text-red
{
    color: #533c00;
}
.border-bt
{
    border-color: #cc9302 !important;
}
.border-red
{
    border-color: #ffb703 !important;
}
.bg-red
{
    background-color: #ffbe0b
}
.rounded-me
{
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.controls-bt
{
    border:none ;
    outline:none ;
    background-color:#ffb804;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.item-cart
{
    background-color: transparent;
    padding: 0.5rem;
    border-bottom: 1px solid #cc9302;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    width: 98%;
}